# Data Ingestion & Processing
pandas==1.5.3
numpy==1.23.5
pyarrow==19.0.0
sqlalchemy==2.0.37
pymongo==4.5.0
neo4j==5.11.0
psycopg2-binary==2.9.9

# Machine Learning
scikit-learn==1.2.0
tensorflow==2.14.0
xgboost==2.1.4
joblib==1.3.2

# Data Visualization
matplotlib==3.7.1
seaborn==0.12.2
networkx==3.1

# Streaming (if real-time ingestion is used)
kafka-python==2.0.3

# Additional Utilities
requests==2.31.0
tqdm==4.66.1
loguru==0.7.3

